將以下問卷資料的職業(Profession) 欄位缺失值填入字串 'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合？為什麼？



import pandas as pd q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

In [1]:
import pandas as pd

In [17]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

In [18]:
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [19]:
q_df.fillna('others') #缺失值填入 others

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [21]:
pf = pd.get_dummies(q_df[['Sex']]) #使用非順序性編碼
pf
q_df = pd.concat([pf,q_df],axis=1)
q_df

   Sex_female  Sex_male     Sex Profession
0           0         1    male    teacher
1           0         1    male   engineer
2           1         0  female       None
3           1         0  female   engineer